[[redirects]]
  from = "/"
  to = "/pages/home.html"
  status = 200

[[redirects]]
  from = "/home"
  to = "/pages/home.html"
  status = 200

[[redirects]]
  from = "/games"
  to = "/pages/games.html"
  status = 200

[[redirects]]
  from = "/about"
  to = "/pages/about.html"
  status = 200

[[redirects]]
  from = "/contact"
  to = "/pages/contact.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
